<%- include("partials/header"); -%>
<div class="jumbotron bg-1" id="jumbotron-one" style="height: 300px;">
    <div class="container"><font color="white">
    <h1>About</h1>
    <p> <%= aboutContent %> </p>
    </font>
</div>
</div>

<%- include("partials/footer"); -%>
